
/*-- scss:defaults --*/
/*-- REF: https://github.com/rbind/yutani/tree/master --*/

$font-family-sans-serif:  'Roboto Slab', Helvetica, Arial, sans-serif !default;
$font-family-monospace:   'Fira Code', monospace !default;
$primary:                 #45b2c6 !default;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1.title {
  color: rgba(255, 255, 255, .94);
}

div.cell-output {
  border: 2px solid rgb(245, 245, 245);
  border-radius: .25rem;
}

section.level2 {
  margin-top: 100px;
}

section.level3 {
  margin-top: 55px;
}

