/*-- scss:defaults --*/
//  custom.scss
//
// Colors
$baby-blue: #d2e3f3;
$teal: #047C90;
$dark-blue: #003660;
$white: #FFFFFF;
$green: #78A540; 
$magenta: #900C3F;
$off-white: #F7F7F7; 
$gray: #ADADAD; 

// scss variables
$presentation-title-slide-text-align: "left";
$body-bg: $white;
$link-color: $green; 
$code-color: $magenta;
$code-bg: $off-white;
$code-block-font-size: 0.4em;
$code-block-bg: $off-white;

/*--    Works  --*/
$body-bg:            $baby-blue;
